body {
    font-family: "Lucida Sans Typewriter", "Lucida Console", 
        Monaco, "Bitstream Vera Sans Mono", monospace;
    background-color: rgb(21, 21, 129);
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  header {
    font-family: "Lucida Sans Typewriter", "Lucida Console", 
        Monaco, "Bitstream Vera Sans Mono", monospace;
    position: fixed;
    z-index: 1;
    top: 0;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: rgb(21, 21, 129);
    text-align: right;
  }
  
  header button {
    display: inline;
    border: none;
    padding-top: 10px;
    padding-right: 20px;
    background: none;
    font-size: 15px;
    color: rgb(162, 182, 248);
    transition-duration: 0.4s;
  }

  header button:hover {
    transform: scale(1.25);
  }

  #title h1{
    height: 600px;
    line-height: 600px;
    font-size: 80px;
    width: 100%;
    color: rgb(162, 182, 248);
    text-align: center;
    opacity: 0;
    transform: translateY(40px);
    animation: fadeIn 1.25s ease-out forwards;
  }
  @keyframes fadeIn {
    from{
        opacity: 0;
        transform: translateY(40px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
  }


  footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
  }